.graph {
	width: 15rem;
	height: 15rem;
	padding: 1.25rem;
	background-color: #E0E0F9;
	border-radius: 50%;
	position: relative;
	margin-bottom: 50px;
}

.graph-text {
	background: var(--color-white);
	color: #409cd1;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	font-size: 4.5rem;
	font-weight: 900;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.graph-num {
	line-height: 1;
	position: relative;
	top: -4px;
}

.graph-percent {
	font-size: 2.0625rem;
	font-weight: 600;
	position: relative;
	top: 11px;
}


.circular-progress {
	--size: 252px;
	--to: 100;
	--half-size: calc(var(--size) / 2);
	--stroke-width: 0.5rem;
	--radius: calc((var(--size) - var(--stroke-width)) / 2);
	--circumference: calc(var(--radius) * pi * 2);
	--dash: calc((var(--progress) * var(--circumference)) / 100);
	animation: progress-animation 1.2s linear 0s 1 forwards;
	width: var(--size);
	height: var(--size);
	position: absolute;
	top: -0.25rem;
	left: -0.25rem;
}

.circular-progress circle {
	cx: var(--half-size);
	cy: var(--half-size);
	r: var(--radius);
	stroke-width: var(--stroke-width);
	fill: none;
	stroke-linecap: round;
}

.circular-progress circle.bg {
	stroke: transparent;
}

.circular-progress circle.fg {
	transform: rotate(-90deg);
	transform-origin: var(--half-size) var(--half-size);
	stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
	transition: stroke-dasharray 0.3s linear 0s;
	stroke: #3EB8E5;
}

@property --progress {
	syntax: "<number>";
	inherits: false;
	initial-value: 0;
}

@keyframes progress-animation {
	from {
		--progress: 0;
	}

	to {
		--progress: var(--to);
	}
}


/* 

*,
*:before,
*:after {
  box-sizing: border-box;
}

.pie-wrapper {
  font-size: 150px;
  height: 1em;
  width: 1em;
  float: left;
  margin: 15px;
  position: relative;
}

.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  position: absolute;
  top: 0;
  left: 0;
}

.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.1em solid #3498db;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  position: absolute;
  top: 0;
  left: 0;
}

.pie-wrapper .label {
  background: var(--color-white);
  color: #409cd1;
  border-radius: 50%;
  display: block;
  font-size: 4.5rem;
  font-weight: 900;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pie-wrapper .label .smaller {
  font-size: 2.0625rem;
  font-weight: 600;
  vertical-align: baseline;
}

.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.1em solid #bdc3c7;
  border-radius: 50%;
}

.pie-wrapper.progress-45 .pie .half-circle {
  border-color: #1abc9c;
}

.pie-wrapper.progress-45 .pie .left-side {
  transform: rotate(162deg);
}

.pie-wrapper.progress-45 .pie .right-side {
  display: none;
} */